
.bouton {
    -fx-background-color: #d3d2d2;
    -fx-text-fill: Black;
    -fx-background-radius: 13px;
    -fx-padding: 6px 10px;
}

.bouton:hover {
    -fx-background-color: #b8b5b5;
}
.vueEdition{
    -fx-background-color: #e4e3e3;
    -fx-padding: 8px 12px;
    -fx-spacing: 8px;
    -fx-alignment: center;

}
.vueRecherche {
    -fx-background-color: #e0dfdf;
    -fx-padding: 8px 12px;
    -fx-spacing: 8px;
    -fx-alignment: center-left;
}

.rechercheText:hover {
    -fx-background-color: #b4b1b1;
}

.rechercheImage {
    -fx-opacity: 0.6;
    -fx-fit-width: 16px;
    -fx-fit-height: 16px;

}

 .rechercheText {
    -fx-background-color: #e0dfdf;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-prompt-text-fill: #858383;
    -fx-text-fill: #343434;
    -fx-font-style: italic;
    -fx-padding: 0;
}

.joueurInfo {
    -fx-background-color: #6a6a6a;
    -fx-padding: 8 12;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 8;
    -fx-background-radius: 10px;
}



.joueurInfo .joueurNom {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
}

.nomJoueur{
    -fx-background-color: #6a6a6a;
    -fx-text-fill: black;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}
.pageJoueur{
    -fx-background-color: #6a6a6a;
    -fx-alignment: center;
}

.pageJoueur .imagejoueur{
    -fx-alignment: center;
    -fx-fit-width: 150px;
    -fx-fit-height: 150px;
    -fx-preserve-ratio: true;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.25) , 10, 0, 0, 4 );
}
.pageJoueur .lien{
    -fx-underline: false;
    -fx-border-color: #6a6a6a;
    -fx-padding: 4 6;
    -fx-font-size: 14px;
}

.pageJoueur .lien:hover{
    -fx-text-fill: #1F4BB0;}

.pageJoueur .labelinfojoueur{
    -fx-font-size: 24px;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-padding: 2 0;
    -fx-font-weight: bold;
}
.vueBoutons {
    -fx-background-color: #6a6a6a;
}